/* ************************************************************************** */
/* FOOTER Sections ********************************************************** */
/* ************************************************************************** */
/* footer 1 ***************************************************************** */
.footer-1 {
  background: $color-main;
  position: relative;
  overflow: hidden;

  .footer-flower {
    position: absolute;
    bottom: 0;
    right: -50%;
    height: 300px;
    width: auto;
    @include isLarge {
      bottom: -30%;
      right: -20%;
      height: 300px;
    }
    @include isXLarge {
      bottom: -20%;
      right: -20%;
      height: 300px;
    }
  }

  .sec-link-dark {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    text-decoration: none;
  }

  .containerish-fluid {
    padding: 40px;
    display: grid;
    grid-gap: 2rem;

    @include isMedium {
      grid-template-columns: max-content repeat(3, 1fr);
    }

    @include isXLarge {
      grid-template-columns: repeat(4, 1fr);
      padding: 40px 40px;
    }


    .col-two, .col-three, .col-four {
      @include isXLarge {
        padding-top: 2rem;
      }
    }

    .col-one {
      display: flex;
      justify-content: flex-start;
      .footer-logo {
        align-self: center;
        max-width: 330px;
        @include isMedium {
          width: calc(330px / 2);
          height: calc(69px / 2);
        }
        @include isLarge {
          max-width: 210px;
          max-height: 216px;
        }
        @include isXLarge {
          width: calc(330px / 1);
          height: calc(69px / 1);
        }
      }
    }
    .col-two {
      p {
        line-height: calc(15px * 1.5);
      }

    }
    .col-three {
      .social-links {
        margin-top: 1rem;

        a.social-link {
          display: inline-block;
          position: relative;
          width: 30px !important;
          height: 30px;
          border: 1px solid $color-white;
          border-radius: 50px;

          svg {
            max-height: 20px;
            color: $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
// footer 2
.footer-2 {
  background: $color-main;
  padding: 5px 0;

  p {
    margin: 0;
  }

  a {
    color: $color-white;

    &:hover {
      color: lighten($color-light-accent, 20);
      text-decoration: none;
    }
  }

  .containerish {

    .sec-info {
      text-align: center;
      a {
        text-decoration: none;
      }
    }
  }
}
