/* ************************************************************************** */
/* Main Page Sections ******************************************************* */
/* ************************************************************************** */
// hero

.hero {
  background: url("../images/hero-bg@2x.jpg") top center / cover;
  position: relative;
  padding-top: 3rem;
  @include isMedium {
    padding-top: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($color-dark, .7);
    width: 100%;
    height: 100%;
    @include isLarge {
      opacity: 0;
    }
  }

  .containerish {
    min-height: 100vh;
    padding: 40px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    @include isMedium {
      padding: 40px 40px 20px;
      min-height: 50vh;
    }
    @include isLarge {
      padding: 50px 40px;
      min-height: 100vh;
    }

    .section-info {
      p {
        max-width: 610px;
        text-align: left;
      }
    }
  }
}
// bio

.bio {
  .containerish {
    // padding: 40px 40px;
    display: grid;
    grid-gap: 2rem;
    @include isLarge {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
    @include isRetina {
      align-items: center;
    }

    .col-left {
      position: relative;
      height: 450px;
      @include isMedium {
        height: 500px;
      }
      @include isLarge {
        height: 700px;
      }

      img:nth-child(1) {
        position: absolute;
        left: 50%;
        top: -25px;
        @include isXLarge {
          left: 60%;
        }
      }

      img:nth-child(2) {
        position: absolute;
        z-index: 20;
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
        max-width: 85%;
        @include isMedium {
          width: auto;
          max-height: 500px;
        }
        @include isLarge {
          top: 0;
          width: 606px;
          max-height: 733px;
        }
      }
    }

    .col-right {
      padding: 0 40px;
      @include isMedium {
        padding: 40px;
      }

      .sec-info {
        position: relative;

        .btn-wrapper {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          @include isMedium {
            flex-direction: row;
            width: 80%;
            justify-content: flex-start;
            align-items: center;
            a {
              margin-right: 6rem;
            }
          }
          @include isLarge {
            flex-direction: row;
            width: 80%;
            justify-content: space-between;
            align-items: center;
            a {
              margin-right: 0;
            }
          }
          @include isXLarge {
            width: 70%;
          }
          @include isRetina {
            width: 60%;
            max-width: calc(198px * 2);
          }

          a {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
// acne

.acne {
  position: relative;
  overflow: hidden;

  .sec-flower {
    height: 500px;
    width: 300px;
    position: absolute;
    right: -8rem;
    top: -4rem;
    z-index: 99;
    @include isMedium {
      height: 700px;
      width: 400px;
      right: -5rem;
    }
    @include isLarge {
      height: 700px;
      width: 400px;
      top: -12rem;
      right: -12rem;
    }
    @include isRetina {
      top: -8rem;
      right: -20rem;
      height: 900px;
      width: 600px;
    }
  }

  .containerish {
    display: grid;
    grid-gap: 2rem;
    @include isLarge {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
    @include isXLarge {
      margin-top: 3rem;
      align-items: center;
    }

    .col-left {
      padding: 85px 40px 80px 40px;
      grid-row: 2;
      // background: yellow;
      @include isMedium {
        padding: 40px;
      }
      @include isLarge {
        grid-row: 1;
      }
      @include isRetina {
        padding-left: 8rem;
      }

      .sec-info {
        a {
          margin-top: 3rem;
        }
      }
    }

    .col-right {
      position: relative;
      height: 500px;
      overflow: visible;
      // background-color: green;
      @include isLarge {
        height: 700px;
      }

      img:nth-child(1) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
        max-width: 85%;
        z-index: 10;
        @include isMedium {
          width: auto;
          max-height: 500px;
        }
        @include isLarge {
          top: 50%;
          transform: translate(-50%, -50%);
          width: 400px;
          max-height: 635px;
        }
      }

    }
  }
}

// skin cancer
.skincancer {
  background: rgba($color-main, .19);
  @include isLarge {
    margin-top: 2rem;
  }
  .containerish {
    padding: 40px 40px 80px 40px;
    display: grid;
    grid-gap: 2rem;

    @include isMedium {
      padding: 80px 40px 80px 40px;
    }
    @include isLarge {
      grid-template-columns: max-content 1fr;
      align-items: center;
    }
    @include isRetina {
      padding-left: 8rem;
    }

    .sec-img {
      @include isMedium {
        max-width: 400px;
        justify-self: center;
      }

      @include isXLarge {
        justify-self: flex-start;
      }
    }
    .sec-info {
      p {
        max-width: 500px;
      }
      @include isRetina {
        padding-left: 4rem;
      }
      a {
        margin-top: 4rem;
      }
    }
  }
}
// appomintments

.appointment {
  .containerish-fluid {
    padding: 40px;
    display: grid;
    grid-gap: 2rem;
    @include isXLarge {
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;
      padding: 60px 0;
    }
    @include isRetina {
      align-items: center;
      grid-template-columns: 1fr 1.05fr;
    }

    .sec-info {
      @include isXLarge {
        padding: 0 40px;
      }
      @include isRetina {
        padding: 0 6rem;
      }
      @include isGiant {
        padding: 0 10rem;
      }

      p.body-copy {
        max-width: 535px;
      }

      #appointment {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        input {
          height: 47px;
          border: 2px solid $color-main;
          padding-left: 1rem;
          margin-bottom: 0.5rem;
          @include isLarge {
            max-width: 361px;
          }
        }

        button {
          border: none;
          @include isXLarge {
            align-self: flex-start;
            width: auto;
          }
        }
      }
    }
  }
}
