// Color Theme Vars
$color-main: #5091CD;

$color-light: #4C99E0;
$color-light-accent: #4C99E0;

$color-dark: #292929;
$color-dark-accent: #000;

$color-copy: #818991;

$color-accent: #FCE6E8;

$color-white: #ffffff;
$color-black: #000000;


/* -------------------------------------------------------------------------- */
/* COLOR THEME */
/* -------------------------------------------------------------------------- */
.color-main {
  color: $color-main;
}

.color-light {
  color: $color-light;
}

.color-light-accent {
  color: $color-light-accent;
}

.color-dark {
  color: $color-dark;
}

.color-dark-accent {
  color: $color-dark-accent;
}

.color-copy {
  color: $color-copy;
}

.color-accent {
  color: $color-accent;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}
